/**********General Styles Across Pages***********/

body {
  font-family: 'raleway', sans-serif;
}

a {
  text-decoration: none;
}

h2{
  color: #a1e8d9;
}

.subpagetitle {
  font-family: 'playfair display', serif;
  font-size: 1.5em;
  color: #ff712c;
  text-align: center;
}

.subpagebg {
  background-image: url(images/backgroundpattern.png);
  background-repeat: repeat;
}

/**********Heading Area***********/

.mainimage {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: 0;
}

.headcontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.whiteboxh1 {
  position: absolute;
  top: 25%;
  margin-left: 35%;
  width: 400px;
  height: 50px;
  background: rgba(255, 113, 44, 0.5);
  font-size: 2em;
  text-align: center;
}

.whiteboxh2 {
  position: absolute;
  top: 33%;
  margin-left: 35%;
  width: 400px;
  height: 25px;
  background: rgba(161, 232, 217, 0.5);
  font-size: 1em;
  text-align: center;
}


#headcontainer h1{
  font-size: 2em;
  color: black;
}

#headcontainer {
  font-family: 'Playfair Display', serif;
}

/**********Nav Bar***********/

header {
  background-color: #696969;
  margin: -5px 0 0;
  padding: 5px;
  max-width: 100%;
}

nav {
  text-align: center;
  padding: 0;
  margin: 0;
}

nav a:visited {
  color: lightgray;
}

nav a:hover {
  color: #ff712c;
}

nav a {
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
/**********Main Content***********/

main article {
  text-align: center;
}


.articlespace {
  padding: 20px 20px;
}

/**********Footer***********/
footer {
  height: 44px;
  width: 200px;
  margin: 20px auto 0;
}

.socialicon {
  max-width: 2.5em;
  max-height: 2.5em;
  margin: 0 .2em;
}

/**********About Page***********/

#sidenav {
  width: 20%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-left: .5%;}

#aboutmain {
    width: 820px;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
  }

.profilepic {
  border-radius: 100%;
  max-width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

#FavTable {
  display: block;
  width: 270px;
  margin: 0 auto;
}

th, td {
  border-bottom: 1px dotted #FF712C;
}

th {
  background-color: lightgray;
  font-weight: bold;
}

tr:hover {
  background-color: lightgray;
}

/**********Contact Page***********/

#contactmain {
    width: 820px;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    text-align: center;
  }

  #contactmain ul{
    list-style: none;
  }

  #contactmain ul li{
    display: inline-block;
    vertical-align: top;
    max-width: 30%;
    /*padding-right: 5px;*/
  }

.formfield {
  margin: 5px 0;
}

.formfield label{
  font-style: italic;
}

#contactmain li a{
  color: #000000;
  font-weight: bold;
}

.formborder {
  border: 2px dashed #a1e8d9;
}

/**********Responsive***********/

/*Desktop*/
@media screen and (max-width: 550px) {

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: .8em;
  }

}

@media screen and (max-width: 1090px) {

  .mainimage {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 0;
  }

  .headcontainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .whiteboxh1 {
    position: absolute;
    top: 2%;
    left: 11%;
    width: 200px;
    height: 25px;
    background-color: rgba(255, 113, 44, 0.5);
    font-size: 1em;
    text-align: center;
  }

  .whiteboxh2 {
    position: absolute;
    top: 6%;
    margin-left: 44%;
    width: 200px;
    height: 20px;
    background: rgba(161, 232, 217, 0.5);
    font-size: .8em;
    text-align: center;
  }

  #sidenav {
    display: block;
    width:inherit;
    text-align: center;
    padding: 0;
    margin: 0 0 10px;
  }

  #aboutmain {
    display: block;
    width: inherit;
    margin: 0 auto;
  }

  #contactmain {
    display: block;
    width: inherit;
    margin: 0 auto;
  }

  #contactmain ul li{
    display: block;
    max-width:inherit;
    margin: 0 auto;
    /*padding-right: 5px;*/
  }

/*Mobile Iphone 6]*/

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  .mainimage {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 0;
  }

  .headcontainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .whiteboxh1 {
    position: absolute;
    top: 6%;
    left: -10%;
    width: 200px;
    height: 25px;
    background-color: rgba(255, 113, 44, 0.5);
    font-size: 1em;
    text-align: center;
  }

  .whiteboxh2 {
    position: absolute;
    top: 11%;
    margin-left: 23%;
    width: 200px;
    height: 20px;
    background: rgba(161, 232, 217, 0.5);
    font-size: .8em;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
  }

  #sidenav {
    display: block;
    width: inherit;
  }

  #aboutmain {
      display: block;
      width: inherit;
  }

  .profilepic {
      border-radius: 100%;
      max-width: 80px;
      display: inline-block;
      vertical-align: top;
      margin-right: 6px;
  }

  #contactmain {
      width: inherit;
      display: block;
      margin: 0 auto;
  }

  #contactmain ul li{
      display: block;
      max-width: 100%;
      margin: 0 auto;
      /*padding-right: 5px;*/
  }

  .formfield {
    margin: 0 0;
  }


}
