.Connect-container {
  display: flex;
  flex-direction: column;
}

.Connect-icons {
  margin: 3em 0;
}

.Connect-icons > a > img {
  width: 2em;
  height: 2em;
  opacity: .5;
  margin-right: 2em;
}

.Connect-icons > a > img:hover {
  cursor: pointer;
  opacity: 1;
}
