#root {
  height: inherit;
  width: inherit;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: inherit;
  width: inherit;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc(100%/2.7);
  height: calc(100%/2.7);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.last-modified {
  margin-top: 4em;
}

.Navigator-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navigator-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  font-family: 'input-mono-light', sans-serif;
  font-size: 2em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.Navigator-list > li {
  cursor: pointer;
}

.Navigator-list > li:hover {
  color: #de935f;
}

.title {
  border-bottom: 1px solid #f1f3f5;
  align-items: flex-start;
  font-family: 'input-mono-light', sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom: .5em;
}

.back:hover {
  cursor: pointer;
  color: #87930e;
}

.entry-enter {
  opacity: 0.01;
}

.entry-enter.entry-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.background-1 {
  background-image: url('../assets/1.png');
}

.background-2 {
  background-image: url('../assets/2.png');
}

.background-3 {
  background-image: url('../assets/3.png');
}

.background-4 {
  background-image: url('../assets/4.png');
}

.background-5 {
  background-image: url('../assets/5.png');
}
