@import './style/font.css';
@import './style/App.css';
@import './style/Navigator.css';
@import './style/Project.css';
@import './style/About.css';
@import './style/Connect.css';
@import './style/Resume.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
